@charset "UTF-8";
@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    header::before {
        background-image: url(../imagens/metropainel/metropainel-1920.webp);
    }

    header > div > h1 {
        display: block;
    }

    nav {
        width: 50vw;
        padding-left: 0vw;
    }
    
    menu#menunav {
        margin-left: 5%;
    }

}