@charset "UTF-8";
@media screen and (min-width: 992px) and (max-width: 1200px){ /* DESKTOP */
    header::before {
        background-image: url(../imagens/metropainel/metropainel-1024.webp);
    }

    header > h1 {
        display: block;
    }

    nav {
        padding-left: 11%;
    }

    img#foto {
        display: block;
    }

}