@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'sass:math';
@import url(anim-glitch.css);

/* Mobile First Method */

* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

:root { /*Working with variables*/
  --fonte-del: 'Raleway', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../imagens/metropainel/metropainel-300.webp);
  opacity: 0.5;
  z-index: -1;
}

header > h1 {
  display: none;
  font-family: 'Raleway';
  color: white;
  font-weight: 200;
  font-size: 1.5em;
  opacity: 1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
  overflow-wrap: break-word;
  /* word-break: break-all;  Break letters */
  width: 28vw;
  padding: 5vw;
  cursor: pointer;
}

img#foto {
  position: absolute;
  display: none; /* Change to none */
  width: 14vw;
  top: 16vw;
  left: 30vw;
}

nav {
  display: block;
  font-size: 1.5em;
  width: 30%;
  padding-left: 0%;
  margin: 28px;
  position: relative;
}

nav > h2 {
  display: block;
  padding-left: 10px;
  cursor: pointer;
}

h2, a {
  font-family: 'Raleway';
  font-weight: 200;
  color: rgb(230, 230, 230);
}

menu#menunav {
  cursor: pointer;
  width: 50vw;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  margin-left: 10px;
  display: block;
  padding: 3px;
  text-decoration: none;
}

a:hover {
  color: #6aff65c9;
  animation: glitch1 1s ;
}

menu#menusocial, menu#menuforum, menu#menudevelop, menu#menudesign, menu#menutasksandguides{
  display: none;
  margin-left: 170px;
}

h2#social:hover, h2#forum:hover, h2#develop:hover, h2#design:hover, h2#tasksandguides:hover {
  font-weight: 600;
  animation: glitch1 2.5s infinite;
}

h2#social1, h2#social2, h2#social3, h2#forum1, h2#forum2, h2#forum3, h2#develop1, h2#develop2, h2#develop3, h2#design1, h2#design2, h2#design3, h2#tasksandguides1, h2#tasksandguides2, h2#tasksandguides3 {
  display: none;
  position: absolute;
  top: 0;
  left: 10px;
}

h2#social1, h2#forum1, h2#develop1, h2#design1, h2#tasksandguides1 {
  animation: glitch1 2.5s infinite;
  color: #ecebff;
}

h2#social2, h2#forum2, h2#develop2, h2#design2, h2#tasksandguides2 {
  color: #6ef169;
  animation: glitch2 2.5s infinite;
}

h2#social3, h2#forum3, h2#develop3, h2#design3, h2#tasksandguides3 {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}

main {
  display: none;
}

main > section > iframe#imgyo {
display: block;
/* Put iframe things */
}
