

h1 {
    font-family: 'Times New Roman', Times, serif;
    font: normal;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    background-color: silver;
    padding: 3px;
    margin-left: 2px;
}

nav > a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

main {
    margin: 50px 50px;
}

p {
    padding: 1px;
}
